
.form-field {
    width: 28rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    min-height: 4rem;
    border-radius: 4px;

    &__title {
        width: 100%;
        margin: 0 6px;
    }

    &__input {
        margin-top: 0.3rem;
        width: 100%;
        min-height: 62px;

        .field {
            width: 100%;
        }
    }
}


.btn-submit {
    width: 10rem;
    height: 2rem;
}